.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}
.container-m{
    min-height: 100vh;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    #res{
        margin: 10px 0px 0px 0px !important;
        padding: 0.5rem 3.5rem !important;
      }
  }



@media (max-width: 576px) {
    .owl-carousel .item img {
        height: 432px !important;
        width: 432px !important;
        object-fit: cover !important;
    }
  }